.user-avatar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #F8FAFC;
}

.user-avatar--rounded {
  border-radius: var(--radius);
}

.user-avatar--circular {
  border-radius: 50%;
}

.user-avatar__svg {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 100%;
  max-height: 100%;
}